div.container {
    background-color: lightcoral;
    display: flex;
    margin-bottom: 10px;
}

div#c1{
    flex-flow: row, nowrap;
}

div#c2{
    flex-flow: row, wrap;
}

div#c3{
    flex-flow: row, wrap-reverse;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}